# Файл сгенерирован автоматически, не изменять вручную.
# Он содержит точные версии всех зависимостей.
# package-lock.json ДОЛЖЕН БЫТЬ в Git.

# Зависимости
/node_modules

# Логи
logs
*.log
npm-debug.log*

# Файлы переменных окружения (содержат секреты)
.env
.env.local
.env.*.local

# Папки с результатами сборки
/dist
/build

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы IDE
.vscode/
.idea/
.vercel
